@font-face {
  font-family: "iconfont"; /* Project id 2598250 */
  src: url('iconfont.woff2?t=1624356784560') format('woff2'),
       url('iconfont.woff?t=1624356784560') format('woff'),
       url('iconfont.ttf?t=1624356784560') format('truetype'),
       url('iconfont.svg?t=1624356784560#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhijingmai:before {
  content: "\e61e";
}

.icon-renlianshibie:before {
  content: "\e61f";
}

.icon-zhijingmai1:before {
  content: "\e620";
}

.icon-zhiwen1:before {
  content: "\e621";
}

.icon-hongmo:before {
  content: "\e622";
}

.icon-duomotai:before {
  content: "\e623";
}

.icon-duomotai1:before {
  content: "\e624";
}

.icon-renlian1:before {
  content: "\e625";
}

.icon-zhiwen:before {
  content: "\e626";
}

.icon-hongmo1:before {
  content: "\e627";
}

.icon-changjingjieru:before {
  content: "\e60e";
}

.icon-dapingguanli:before {
  content: "\e60f";
}

.icon-tongjifenxi:before {
  content: "\e610";
}

.icon-rizhiguanli:before {
  content: "\e611";
}

.icon-shebeiguanli:before {
  content: "\e612";
}

.icon-quyuguanli:before {
  content: "\e613";
}

.icon-jichuguanli:before {
  content: "\e614";
}

.icon-xitongjiankong:before {
  content: "\e615";
}

.icon-xitongguanli:before {
  content: "\e616";
}

.icon-xitonggongju:before {
  content: "\e617";
}

.icon-xiaoxiguanli:before {
  content: "\e618";
}

.icon-xitongpeizhi:before {
  content: "\e619";
}

.icon-yingyongxitong:before {
  content: "\e61a";
}

.icon-yujingguanli:before {
  content: "\e61b";
}

.icon-zhuye:before {
  content: "\e61c";
}

.icon-zuhuguanli:before {
  content: "\e61d";
}

