// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
// sidebar
$menuText:#bfcbd9;
$menuActiveText:#fff;
$menuHoverText: #fff;
$subMenuActiveText:#fff; // https://github.com/ElemeFE/element/issues/12951
$subMenuHoverText:#fff;
$menuBg:#0b1532;
$menuHover:#1775fd;
$subMenuBg:#1b2540;
$subMenuHover:#1775fd;
$subMenuActive:#1775fd;
$sideBarWidth: 205px;
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
    menuText: $menuText;
    menuActiveText: $menuActiveText;
    subMenuActiveText: $subMenuActiveText;
    menuHoverText: $menuHoverText;
    subMenuHoverText: $subMenuHoverText;
    menuBg: $menuBg;
    menuHover: $menuHover;
    subMenuBg: $subMenuBg;
    subMenuHover: $subMenuHover;
    subMenuActive: $subMenuActive;
    sideBarWidth: $sideBarWidth;
}